@media screen and (max-width: 1024px){
    header{
        display: none;
    }

    ul{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    ul li{
        position: absolute;
        transition: 1s;
        text-align: center;
    }
    
    ul li:nth-child(1){
        width: 100vw;
        height: 100vh;
        -webkit-clip-path: inset(0% 0% 66.6% 0%);
        clip-path: inset(0% 0% 66.6% 0%);
        z-index: 2;
    }
    ul li:nth-child(1):active{
        z-index: 4;
        transition: 1s;
        -webkit-clip-path: inset(0% 0% 0% 0%);
        clip-path: inset(0% 0% 0% 0%);
    }
    
    ul li:nth-child(2){
        width: 100vw;
        height: 100vh;
        top: 0%;
        left: 0%;
        z-index: 2;
        -webkit-clip-path: inset(33.3% 0% 33.3% 0%);
        clip-path: inset(33.3% 0% 33.3% 0%);
    }
    ul li:nth-child(2):active{
        z-index: 3;
        transition: 1s;
        -webkit-clip-path: inset(0% 0% 0% 0%);
        clip-path: inset(0% 0% 0% 0%);
    }
    
    ul li:nth-child(3){
        z-index:1;
        width: 100vw;
        height: 100vh;
        top: 0%;
        left: 0%;
        -webkit-clip-path: inset(66.6% 0% 0% 0%);
        clip-path: inset(66.6% 0% 0% 0%);
    }
    ul li:nth-child(3):active{
        transition: 1s;
        z-index: 2;
        -webkit-clip-path: inset(0% 0% 0% 0%);
        clip-path: inset(0% 0% 0% 0%);
    }
    
    .image1 a > .image-opacity{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
        transition: 1s;
        opacity: 1;
    }
    .image1 a > .image-opacity:active{
        background-color: rgba(0, 0, 0, .9);
        transition: 1s;
        opacity: 1;
    }
    .image2 a > .image-opacity{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgba(0, 0, 0, .7);
        transition: 1s;
        opacity: 1;
    }
    .image1 a > .image-opacity img,
    .image2 a > .image-opacity img,
    .image3 a > .image-opacity img{
        transition: 1s;
    }
    .image2 a > .image-opacity:active{
        background-color: rgba(0, 0, 0, .9);
        transition: 1s;
        opacity: 1;
    }
    .image3 a > .image-opacity{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
        transition: 1s;
        opacity: 1;
    }
    .image3 a > .image-opacity:active{
        background-color: rgba(0, 0, 0, .9);
        transition: 1s;
        opacity: 1;
    }
    
    .image1{
        height: 100vh;
        background-image: url('/images/DT3sports.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .image2{
        height: 100vh;
        background-image: url('/images/DT3office.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 52%;
    }
    
    .image3{
        height: 100vh;
        background-image: url('/images/DT3racing.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 81%;
    }
    
    .image1 a .logo{
        margin-top: 10vh;
        width: 35vw;
        transition: 2s;
    }
    
    .image1 a .logo, .image3 a .logo{
        margin-bottom: 10vh;
        width: 35vw;
        transition: 2s;
    }
    .logo{
        width: 35vw;
        transition: 2s;
    }
    .hide-logo{
        opacity: 0;
        width: 35vw;
        transition: 2s;
    }
}

@media screen and (max-width: 530px){
    .image1 a .logo{
        margin-top: 15vh;
        width: 35vw;
        transition: 2s;
    }
    
    .image1 a .logo, .image3 a .logo{
        margin-bottom: 15vh;
        width: 35vw;
        transition: 2s;
    }
    .hide-logo{
        display: none;
        width: 35vw;
        transition: 2s;
    }
}